# ignore google secret credentials
spreadsheet_credentials.json

# ignore secret environemnt variable values
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ignore files created by pytest
__pycache__
.pytest_cache