{% extends "bootstrap_layout.html" %}

{% block content %}

    <h2>YOUR TO-WATCH LIST</h2>

    <p>These are the titles in your list in the '{{ sheet_name }}' sheet in
        <a href="https://docs.google.com/spreadsheets/d/{{ sheet_id }}">this document</a>: </p>

    <!-- TODO: consider using a table instead of a list -->
    <!-- https://www.w3schools.com/html/html_tables.asp -->
    <!-- https://getbootstrap.com/docs/4.0/content/tables/ -->
    <ul>
    {% for movie in movies %}
        <li>ID #{{ movie["ID"] }}. {{ movie["Title"] }}</li>
    {% endfor %}
    </ul>

    <!--<p>Would you like to...</p>-->

    <!--<form name="options" action="/movie/to-watch" method="POST">
        <select name="option">
            <option value="Delete a title">Delete title</option>
            <option value="Clear list">Clear list</option>        
        </select>
        <button>Submit</button>-->

{% endblock %}